{{define "title" }}<title>Admin</title>{{end}}
{{define "pageSpecificScripts" }}

<script src="/static/js/angular/1.3.14/angular.min.js"></script>
<script src="/static/js/angular/1.3.14/angular-resource.min.js"></script>
<script src="/static/js/services.js"></script>

{{end}}

{{define "bodyContainer"}}
<div class="col-xs-12 col-sm-6 col-sm-offset-3">
  <ul class="nav nav-pills nav-stacked nav-justified text-center">
    <li><a class="btn-lg" href="/admin/modules">Modules</a></li><br>
    <li><a class="btn-lg" href="/admin/tasks">Tasks</a></li><br>
    <li><a class="btn-lg" href="/admin/tiers">Tiers</a></li><br>
  </ul>
</div>
{{ end }}
