{{define "title" }}<title>Admin</title>{{end}}
{{define "pageSpecificScripts" }}

<script src="/static/js/angular/1.3.14/angular.min.js"></script>
<script src="/static/js/angular/1.3.14/angular-resource.min.js"></script>
<script src="/static/js/services.js"></script>

<script>
var appMod = angular.module('clapp', ['clAppServices']);

appMod.config(function($interpolateProvider) {
    $interpolateProvider.startSymbol('||');
    $interpolateProvider.endSymbol('||');
    });
appMod.directive("fileread", [function () {
    return {
scope: {
fileread: "="
},
link: function (scope, element, attributes) {
element.bind("change", function (changeEvent) {
  var reader = new FileReader();
  reader.onload = function (loadEvent) {
  scope.$apply(function () {
    scope.fileread = loadEvent.target.result;
    });
  }
  reader.readAsDataURL(changeEvent.target.files[0]);
  });
}
}
}]);

appMod.service('fileUpload', ['$http', function ($http) {
    this.uploadFileToUrl = function(file, uploadUrl){
    var fd = new FormData();
    fd.append('file', file);
    $http.post(uploadUrl, fd, {
transformRequest: angular.identity,
headers: {'Content-Type': undefined}//TODO: Checkout if content-type can be left alone?
})
    .success(function(){
      })
    .error(function(){
      });
    }
    }]);

appMod.controller('adminController', ['$scope', 'DELIVERABLES', 'UploadUrl', function($scope, DELIVERABLES, UploadUrl) {

    FetchDeliverables = function(){
    var p = DELIVERABLES.get().$promise;
    p.then(function(deliverables){
      $scope.deliverables = deliverables;
      $scope.statusNote = "Initialized...";
      }, function(error){
      $scope.statusNote = error.status + ": " + error.data;
      });
    return p;
    }
    init();

    function init(){
    FetchDeliverables();
    }

    $scope.DeleteTask = function(tier, task){
    var newTasks = [];
    for(i=0; i<tier.Tasks.length; i++){
      var x = tier.Tasks[i];
      if (x.Name != task.Name){
        newTasks.push(x);
      }
      else{
        //TODO: Delete the associated BlobKey file. task.BlobKey
      }
    }
    tier.Tasks = newTasks;

    }
    $scope.addOrphanTask = function(tier, orphanTask){
      tier.Tasks.push(angular.copy(orphanTask));
      return;

    }
}]);

</script>
{{end}}

{{define "bodyContainer"}}
<div ng-app="clapp">

  <div ng-controller="adminController">
    <div id="statusNote" ng-bind="statusNote"></div>
    <div ng-repeat="m in deliverables.Modules" >
      <legend><span ng-bind="m.Name"></span></legend>

      <ul ng-repeat="tier in m.Tiers" class="list-unstyled">
        <h5><span class="text-muted small" ng-bind="tier.Name"></span></h5>
        <ul ng-repeat="t in tier.Tasks" class="list-unstyled">

          <div class="form-group">
            <label class="col-xs-2 col-sm-2 control-label"><span ng-bind="t.Name"></span></label>
            <div class="col-xs-10 col-sm-10">
              <span class="col-xs-6 col-sm-9">
                <div class="input-group">
                  <span class="input-group-btn">
                    <span class="btn btn-default btn-primary" onclick="$(this).parent().find('input[type=file]').click();">Browse</span>
                    <input name="uploaded_file" onchange="$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\|/]/).pop());" style="display: none;" type="file">
                  </span>
                  <span class="form-control"></span>
                </div>
              </span>

              <span class="col-xs-4 col-sm-2"><button class="btn btn-default">Remove</button></span>

              <span class="pull-right col-sm-1 col-xs-1">
                <a ng-click="DeleteTask(tier, t)">
                  <span class="glyphicon glyphicon-remove"></span>
                </a>
              </span>

            </div>
          </div>

        </ul>


        <div class="col-sm-6 col-xs-12">
          <input class="form-control" placeholder="New Task..." ng-model="orphanTask.Name">
        </div>
        <div ng-show="orphanTask.Name" class="col-sm-6 col-xs-12">
          <button class="btn col-xs-12 btn-default" ng-click="addOrphanTask(tier, orphanTask); orphanTask={}">Add Task</button>
        </div>
      </ul>
    </div>
  </div> <!-- adminController -->

</div>
{{ end }}
