{{define "title" }}<title>Admin</title>{{end}}
{{define "pageSpecificScripts" }}

<script src="/static/js/angular/1.3.14/angular.min.js"></script>
<script src="/static/js/angular/1.3.14/angular-resource.min.js"></script>
<script src="/static/js/services.js"></script>

{{end}}

{{define "bodyContainer"}}
<ul class="nav nav-pills nav-stacked nav-justified text-center">
  <li><h5><a href="/admin/tasks">Tasks</a></h5></li><hr>
  <li><h5><a href="/admin/tiers">Tiers</a></h5></li><hr>
  <li><h5><a href="/admin/modules">Modules</a></h5></li><hr>
</ul>
{{ end }}
