{{define "title" }}<title>Tiers | Admin</title>{{end}}
{{define "pageSpecificScripts" }}

<script src="/static/js/angular/1.3.14/angular.min.js"></script>
<script src="/static/js/angular/1.3.14/angular-resource.min.js"></script>
<script src="/static/js/services.js"></script>

<script>
var appMod = angular.module('clapp', ['clAppServices']);

appMod.config(function($interpolateProvider) {
    $interpolateProvider.startSymbol('||');
    $interpolateProvider.endSymbol('||');
    });


appMod.controller('adminController', ['$scope', 'DELIVERABLES', function($scope, DELIVERABLES) {

    FetchDeliverables = function(){
    var p = DELIVERABLES.get().$promise;
    p.then(function(deliverables){
      $scope.deliverables = deliverables;
      }, function(error){
      $scope.statusNote = error.status + ": " + error.data;
      });
    return p;
    }
    init();

    function init(){
    FetchDeliverables();
    $scope.deletedTiers = [];
    $scope.dirty = false;
    }

    $scope.DeleteTier = function(tierName){
    //Loop over all the modules
    // Delete the tiers and save the files for future deletion
      angular.forEach($scope.deliverables.Modules, function(module, _){
          var newTiers = [];
          angular.forEach(module.Tiers, function(tier, _){
            if (tier.Name != tierName){
            this.push(tier);
            }else{
            $scope.deletedTiers.push(tier); //TODO: Delete all the files when finally saving the changes.
            }
            }, newTiers);
          module.Tiers = newTiers;
          });
      $scope.dirty = true;
    }

    $scope.addOrphanTier = function(tier){
      angular.forEach($scope.deliverables.Modules, function(module, i){
          module.Tiers.push(angular.copy(tier));
          } );
      $scope.dirty = true;
      return;

    }


    $scope.SaveChanges = function(){
      var p = DELIVERABLES.save($scope.deliverables).$promise;
      p.then(function(){
          $scope.statusNote = "Changes saved";
          $scope.dirty = false;
          }, function(error){
          $scope.statusNote = error.status + ": " + error.data;
          });
      return p;

    }

}]);

</script>
{{end}}

{{define "adminBodyContainer"}}
<div ng-app="clapp">

  <div ng-controller="adminController">
    <div id="statusNote" ng-bind="statusNote"></div>
    <div ng-if="deliverables.Modules.length == 0">
      At least one <a href="/admin/modules">module</a> should be defined before any tier can be added.
    </div>
    <div ng-if="deliverables.Modules.length != 0">

      <div class="row">
        <ul ng-repeat="tier in deliverables.Modules[0].Tiers" class="list-unstyled">
          <div class="col-xs-10">
            <h5><span class="text-muted small" ng-bind="tier.Name"></span></h5>
          </div>
          <div class="col-xs-2">
            <span class="pull-left">
              <a ng-click="DeleteTier(tier.Name)"> <span class="glyphicon glyphicon-remove"></span> </a>
            </span>
          </div>

        </ul>

        <form>
          <div class="col-sm-6 col-xs-12">
            <input class="form-control" placeholder="New Tier..." ng-model="orphanTier.Name">
          </div>
          <div ng-show="orphanTier.Name" class="col-sm-6 col-xs-12">
            <button class="btn col-xs-12 btn-default" ng-click="addOrphanTier(orphanTier); orphanTier={}">Add Tier</button>
          </div>
        </form>
      </div>

      <div ng-show="dirty" class="row">
        <br>
        <button class="btn btn-warning center-block" ng-click="SaveChanges()">Save Changes</button>
      </div>

    </div> <!-- if deliverables.Modules.length != 0 -->
  </div> <!-- adminController -->

</div>
{{ end }}
