{{define "title" }}<title>Modules | Admin</title>{{end}}
{{define "pageSpecificScripts" }}

<script src="/static/js/angular/1.3.14/angular.min.js"></script>
<script src="/static/js/angular/1.3.14/angular-resource.min.js"></script>
<script src="/static/js/services.js"></script>

<script>
var appMod = angular.module('clapp', ['clAppServices']);

appMod.config(function($interpolateProvider) {
    $interpolateProvider.startSymbol('||');
    $interpolateProvider.endSymbol('||');
    });


appMod.controller('adminController', ['$scope', 'DELIVERABLES', function($scope, DELIVERABLES) {

    FetchDeliverables = function(){
    var p = DELIVERABLES.get().$promise;
    p.then(function(deliverables){
      $scope.deliverables = deliverables;
      StopSpinner();
      }, function(error){
      $scope.statusNote = error.status + ": " + error.data;
      StopSpinner();
      });
    return p;
    }
    StopSpinner = function(){
    $scope.working = false;
    }
    StartSpinner = function(){
    $scope.working = true;
    }
    init();

    function init(){
      StartSpinner();
      FetchDeliverables();
      $scope.deletedModules = [];
      $scope.dirty = false;
    }

    $scope.DeleteModule = function(moduleName){
      //Loop over all the deliverables
      // Delete the modules and save the files for future deletion
      var newModules = [];
      angular.forEach($scope.deliverables.Modules, function(m, _){
          if (m.Name != moduleName){
          newModules.push(m);
          }else{
          $scope.deletedModules.push(m); //TODO: Delete all the files when finally saving the changes.
          }
          });
      $scope.deliverables.Modules = newModules;
      $scope.dirty = true;
    }

    $scope.addOrphanModule = function(m){
      $scope.deliverables.Modules = $scope.deliverables.Modules || [];
      var modules = $scope.deliverables.Modules;
      if(modules.length >0){
        newModule = angular.copy(modules[0]);
        newModule.Tiers = angular.copy(modules[0].Tiers);
        newModule.Name = m.Name;
        angular.forEach(newModule.Tiers, function(tier, _){
            tier.Tasks = [];
            });
      }
      $scope.deliverables.Modules.push(angular.copy(newModule));
      $scope.dirty = true;
      return;

    }


    $scope.SaveChanges = function(){
      var p = DELIVERABLES.save($scope.deliverables).$promise;
      p.then(function(){
          $scope.statusNote = "Changes saved";
          $scope.dirty = false;
          }, function(error){
          $scope.statusNote = error.status + ": " + error.data;
          });
      return p;

    }

}]);

</script>
{{end}}

{{define "adminBodyContainer"}}
<div ng-app="clapp" ng-controller="adminController">
  <div id="statusNote" ng-bind="statusNote"></div>

  <div ng-show="working">
    <img class="center-block" src="/static/img/working.gif" />
  </div>

  <div ng-show="!working">
    <div class="row">
      <ul ng-repeat="m in deliverables.Modules" class="list-unstyled">
        <div class="col-xs-10">
          <h5><span class="text-muted small" ng-bind="m.Name"></span></h5>
        </div>
        <div class="col-xs-2">
          <span class="pull-left">
            <a ng-click="DeleteModule(m.Name)"> <span class="glyphicon glyphicon-remove"></span> </a>
          </span>
        </div>

      </ul>

      <form>
        <div class="col-sm-6 col-xs-12">
          <input class="form-control" placeholder="New Module..." ng-model="orphanModule.Name">
        </div>
        <div ng-show="orphanModule.Name" class="col-sm-6 col-xs-12">
          <button class="btn col-xs-12 btn-default" ng-click="addOrphanModule(orphanModule); orphanModule={}">Add Module</button>
        </div>
      </form>

    </div>

    <div ng-show="dirty" class="row">
      <br>
      <button class="btn btn-warning center-block" ng-click="SaveChanges()">Save Changes</button>
    </div>

  </div> <!-- working -->
</div>
{{ end }}
